{{!< main}}
<div class="example">
    <div>我是示例页面</div>
    <div>下面是helper wordToSubstring示例</div>
    <div>
        我是helper1{{{wordToSubstring '我是一行用来测试的文案我是一行用来测试的文案我是一行用来测试的文案'}}}
    </div>
    <div>下面是helper changeword 示例</div>
    <div>
        我是helper2{{{changeword '我是一行用来测试的文案我是一行用来测试的文案我是一行用来测试的文案'}}}
    </div>
    <p><a href="/add">go to 添加用户页面</a></p>
    <p><a href="/users">go to 查看用户表页面</a></p>
    <p><a href="/theme">go to theme主题模板页面</a></p>
    <div class="captcha"></div>
</div>
<script>
    $(function(){
        function getCaptcha(){
            $.get('/captcha',function(res){
                if(res.status == 0){
                    $('.captcha').html(res.data);
                }
            });
        }
        getCaptcha();
        // 点击图片重新获取
        $('.captcha').click(function(){
            getCaptcha();
        });
    })
</script>