{{!< main}}
{{>header}}
<div>
    <div>我是示例页面</div>
    <div>下面是helper wordToSubstring示例</div>
    <div>
        我是helper1{{{wordToSubstring 'this is a word'}}}
    </div>
    <div>下面是helper changeword 示例</div>
    <div>
        我是helper2{{{changeword 'xxx'}}}
    </div>
    <a href="/add">go to 添加用户页面</a>
    <a href="/users">go to 查看用户表页面</a>
    <a href="/theme">go to theme主题模板页面</a>
</div>
{{>footer}}